/**
 * WXS 不依赖于运行时的基础库版本，可以在所有版本的小程序中运行。
 * WXS 与 JavaScript 是不同的语言，有自己的语法，并不和 JavaScript 一致。
 * WXS 的运行环境和其他 JavaScript 代码是隔离的，WXS 中不能调用其他 JavaScript 文件中定义的函数，也不能调用小程序提供的API。
 * WXS 函数不能作为组件的事件回调。
 * 由于运行环境的差异，在 iOS 设备上小程序内的 WXS 会比 JavaScript 代码快 2 ~ 20 倍。在 android 设备上二者运行效率无差异。
 */

// 格式化时间 YYYY-MM-DD HH:mm:ss
var FormatTime = function (_date_) {
  var date = getDate(_date_)
  var year = date.getFullYear()
  var month = date.getMonth() + 1
  var day = date.getDate()
  var hour = date.getHours()
  var minute = date.getMinutes()
  var second = date.getSeconds()

  return [year, month, day].map(formatNumber).join('-') + ' ' + [hour, minute, second].map(formatNumber).join(':')
}

module.exports = {
  FormatTime: FormatTime
}
